.home {
  z-index: -1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media (max-width: 1000px) {
body .home { visibility: hidden;
}}

.mobile {
  visibility: hidden;
}
@media (max-width: 1000px) {
body .mobile {
  visibility: visible;
  left: 1px;
  position: fixed;
  min-height: 100%;
  min-width: 100%;

}}

.opening {
  top: 50px;
  z-index: 1;
  position: fixed;
max-width: 850px;
left: 30px;
  }

.phone {
  position: relative;
  max-width: 328px;
}

 .menu { 
  position: relative;
  z-index: 5;
  max-width: 150px;
  left: 300px;
bottom: 1000px; }
@media (max-width: 1000px) 
{body .menu { max-width: 300px;
  top: 310px;
}}

.about {
  position: relative;
  z-index: 5;
  max-width: 150px;
  left: 146px;
bottom:800px;
}
@media (max-width: 1000px) {
body .about { max-width: 300px;
  top: 700px;
  left: 0px;
}}

.reserve {
    position: relative;
  z-index: 5;
  max-width: 150px;
  left: -6.5px;
bottom:600px;
}
@media (max-width: 1000px) {
body .reserve { max-width: 300px;
    top: 1100px;
    left: -300px;
}}